/* DEBUG */
.debug .row [class*="col-"]{
  height: 90px;
  background-color: rgb(252, 215, 127);
  border: 1px solid white;
}

.h_90{
  height: 90px;
}

.h_120{
  height: 120px;
}

.h_200{
  height: 200px;
}

.bg_blue{
  background-color: lightblue;
}

.bg_gray{
  background-color: gray;
}

section{
  padding: 40px 0;
}
/* DEBUG */

@media screen and (max-width:768px) {

  .arrow{
    display: none;
  }

}

@media screen and (max-width: 991px) {

  .ht_left{
    display: none;
  }

}
