/* DEBUG */
.debug .row [class*="col-"]{
  height: 90px;
  background-color: rgb(252, 215, 127);
  border: 1px solid white;
}

.h_90{
  height: 90px;
}

.h_120{
  height: 120px;
}

.h_200{
  height: 200px;
}

.mt_20{
  margin-top: 20px;
}

.mt_40{
  margin-top: 40px;
}

.bg_blue{
  background-color: lightblue;
}

.bg_gray{
  background-color: gray;
}

.ms_btn{
  border: 1px solid #3a8aff;
  border-radius: 5px;
  padding: 10px;
}

.ms_color_blue{
  color: #3a8aff;
}

.ms_color_white{
  color: white;
}

body{
  text-decoration: none;
}

section{
  padding: 40px 0;
}

li{
  list-style: none;
  display: inline-block;
}

h1{
  font-size: 60px;
}

@media screen and (max-width: 1199px) {
  h1{
    font-size: 40px;
  }

}

a,
a:hover,
a:active,
a:focus{
  text-decoration: none;
}

a.text_underline:link{
  text-decoration: underline;
}

/* HEADER */
header{
  width: 100vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: white;
}

header nav img{
  height: 40px;;
}

@media screen and (max-width: 991px) {
  header nav img{
    height: 30px;
  }
}

header nav [class*="col-"]{
  height: 90px;
  line-height: 90px;
}

header nav a{
  color: black;
  text-decoration: none;
}

header nav li{
  margin-left: 10px;
}

header nav li i{
  margin-left: 2px;
}

header nav .burger_menu{
  font-size: 20px;
  color: #3a8aff;
}

header nav .ms_btn:hover{
  background-color: #3a8aff;
  color: white;
}

.ms_jumbotron{
  margin-top: 90px;
  background-image: url('../img/bg-home-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}

.ms_jumbotron .ms_box{
  background-color: white;
  border-radius: 5px;
  padding: 20px 0;
}

.ms_jumbotron .ms_box input{
  width: 80%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 20px;
  margin-bottom: 5px;
}

.ms_jumbotron .ms_box input:hover,
.ms_jumbotron .ms_box input:active,
.ms_jumbotron .ms_box input:focus{
  border: 1px solid #3a8aff;
}

.ms_jumbotron .ms_box .ms_account,
.ms_jumbotron .ms_box .ms_account_google{
  display: inline-block;
  width: 80%;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 5px;
}

.ms_jumbotron .ms_box .ms_account{
  background-color: #579aff;
  color: white;
}

.ms_jumbotron .ms_box .ms_account_google{
  position: relative;
  border: 1px solid lightgray;
  color: black;
}

.ms_jumbotron .ms_box .ms_account_google img{
  width: 20px;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  color: black;
}
/* /HEADER */

/* MAIN */

/* FIRST SECTION */
section#customers{
  background-color: #f3f5f9;
}

#customers span{
  display: block;
  color: #7c879f;
  font-size: 20px;
}

#customers .ms_img_box{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 80px 0;
}

#customers img{
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#customers a{
  font-size: 20px;
}

#customers i{
  vertical-align: middle;
}
/* /FIRST SECTION */

/* SECOND SECTION */
#deploy li{
  display: list-item;
  padding: 10px 5px;
  border-left: 1px solid #75809a;
  margin-left: 100px;
  font-size: 20px;
}

#deploy li a{
  color: #75809a;
}

#deploy li a:hover{
  color: #3a8aff;
}

#deploy p{
  color: #5c6a88;
}

@media screen and (max-width: 992px) {

  #deploy li{
    margin-left: 10px;
  }

}

@media screen and (max-width: 768px) {

  #deploy ul{
    padding-left: 0;
  }

  #deploy li{
    margin-left: 0;
  }

}
/* /SECOND SECTION */

/* THIRD SECTION */
#designed{
  background-color: #f3f5f9;
}

#designed h2{
  color: #031c4e;
}

#designed p{
  color: #586686;
}

#designed img{
  width: 100%;
  margin-top: 80px;
}

#designed span{
  width: 100%;
  display: inline-block;
  color: #031c4e;
  margin: 10px 0 40px;
  font-size: 15px;
}

#designed span i{
  color: #006aff;
  font-size: 15px;
  margin-left: 5px;
}

#designed .ms_arrow{
  margin-top: 100%;
  font-size: 20px;
}

#designed .ms_arrow_left{
  color: #6f7b97;
}

#designed .ms_arrow_right{
  color: #031c4e;
}

#designed i:hover{
  cursor: pointer;
}

@media screen and (min-width: 992px) {

  #designed span{
    margin: 10px 0;
  }

}

@media screen and (max-width: 768px) {

  #designed img{
    width: 60%;
  }

}
/* /THIRD SECTION */

/* FOURTH SECTION */
section#features img{
  margin-top: 20px;
}

#features p{
  color: #5c6a88;
}

#features a{
  font-size: 18px;
}

#features i{
  vertical-align: middle;
}
/* /FOURTH SECTION */

/* FIFTH SECTION */
section#service{
  background-image: linear-gradient(#0047c5, #001e9a);
}

#service h2{
  color: white;
}

#service a{
  color: #00d5d2;
}

#service .code,
#service .city,
#service .speedtest{
  display: inline-block;
  padding-left: 12px;
}

#service .code{
  width: 15%;
}

#service .city{
  width: 65%;
}

#service .speedtest{
  width: 18%;
}

#service [class*=_row]{
  border-bottom: 1px solid white;
  padding: 10px 0;
}

#service .sixth_row{
  border: none;
}
/* /FIFTH SECTION */

/* SIXTH SECTION */
section#development{
  background-color: #f3f5f9;
}

#development .rockerbox{
  width: 100%;
  height: 100%;
  padding: 80px 0;
  margin: 80px 0 20px;
  background-color: white;
  border-radius: 5px;
}

#development .rockerbox img{
  width: 50%;
}

#development .rockerbox p{
  margin: 20px 0;
}

#development .rockerbox span{
  display: block;
  margin: 5px 0;
  color: black;
}

#development .rockerbox a{
  color: #006aff;
}

#development .rockerbox i{
  vertical-align: middle;
}

#development h2{
  color: #031c4e;
}

#development .ms_arrow{
  margin-top: 100%;
  font-size: 20px;
}

#development .ms_arrow_left{
  color: #6f7b97;
}

#development .ms_arrow_right{
  color: #031c4e;
}

#development i:hover{
  cursor: pointer;
}

#development span{
  width: 100%;
  display: inline-block;
  color: #031c4e;
  margin: 10px 0 40px;
  font-size: 15px;
}

#development span i{
  color: #006aff;
  font-size: 15px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {

  #development .rockerbox img{
    width: 100%;
  }

  #development .rockerbox{
    padding: 40px 0;
    margin: 60px 0 20px;
  }

}

@media screen and (max-width: 1200px) {

  #development .rockerbox img{
    width: 80%;
  }

  #development .rockerbox{
    padding: 40px 0;
    margin: 60px 0 20px;
  }

}

@media screen and (max-width: 991px) {

  #development .ms_arrow{
    margin-top: 140%;
  }

}
/* /SIXTH SECTION */
/* MAIN */

/* FOOTER */
/* FOOTER TOP */
footer .footer_top{
  background-image: linear-gradient(#0041bb, #00219c);
  padding: 80px 0;
}

.footer_top .btn{
  color: #006aff;
  margin-top: 20px;
}
/* /FOOTER TOP */

/* FOOTER BOTTOM */
footer .footer_bottom{
  background-color: #031c4e;
  padding: 80px 0;
}

.footer_bottom span{
  display: block;
  color: #8b94a9;
  padding-top: 10px;
}

.footer_bottom span:last-of-type{
  color: #576685;
  padding-top: 5px;
  margin-bottom: 20px;
}

.footer_bottom ul{
  padding-left: 0;
}

.footer_bottom ul li{
  margin-right: 10px;
}

.footer_bottom li a{
  color: #7a859d;
  font-size: 20px;
}

.footer_bottom h4{
  color: white;
}

.footer_bottom #company li,
.footer_bottom #products li,
.footer_bottom #community li,
.footer_bottom #support li{
  display: list-item;
}

.footer_bottom #company li a,
.footer_bottom #products li a,
.footer_bottom #community li a,
.footer_bottom #support li a{
  font-size: 15px;
}

.help_box{
  position: fixed;
  bottom: 30px;
  right: 0;
}

.help_box_img{
  width: 90px;
  height: 70px;
  padding: 10px;
  border-radius: 5px;
  background-color: #006aff;
  position: relative;
}

.help_box_img img{
  width: 100%;
}

.help_box_counter{
  width: 30px;
  height: 30px;
  color: white;
  background-color: red;
  border: 4px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.help_box .help_box_text{
  /* width: 60%; */
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 5px 5px;
  margin-top: 20px;
}

.help_box_text i{
  display: inline-block;
  position: absolute;
  right: -2%;
  font-size: 30px;
  color: white;
}

.help_box_text a{
  color: #031c4e;
}

@media screen and (min-width: 1200px) {

  .help_box_img{

    margin-top: 25px;

  }

}

@media screen and (min-width: 768px) and (max-width: 1199px){

  .help_box{
    position: fixed;
    left: 20px;
    bottom: 30px;
  }

  .help_box_text{
    width: 40%;
  }

  .help_box_text i{
    right: -2%;
  }

}

@media screen and (max-width: 768px) {

  .help_box_text{
    width: 60%;
  }

}
/* /FOOTER BOTTOM */
/* /FOOTER */
